<nav>
    <p><img src="/images/simbolo1.webp">CENTRO MEDICO BACK</p>
    <h3><img src="/images/simbolocitas.jpg">LISTADO DE CITAS MEDICAS</h3>
</nav>

<table border="1">
    <thead>
        <tr>
            <th>Nombre paciente</th>
            <th>Cedula </th>
            <th>Nombre medico</th>
            <th>Consultorio</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each citas}}
        <tr>
            <form action="/citas/actualizar/{{id}}" method="post">
                <td><input type="text" value="{{nombre_paciente}}" disabled></td>
                <td><input type="text" value="{{id_paciente}}" disabled></td>
                <td><input type="text" id="nombre" name="nombre" value="{{nombre}}" disabled>
                    <input type="text" id="apellido" name="apellido" value="{{apellido}}" disabled>
                </td>
                <td><input type="text" id="consultorio" name="consultorio" value="{{consultorio}}" disabled></td>
                <td><input type="date" id="fecha" name="fecha" value="{{formatoFecha fecha}}" {{#ifCond @key '!='
                        ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td>
                    {{#if ../estado}}
                    <a href="/citas/eliminar/{{id}}">Eliminar</a> <br><br>
                    <a href="/citas/enviar/{{@key}}">Actualizar</a>
                    {{else}}
                    <input type="submit" class="enviar" value="Enviar">
                    {{/if}}
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<div>
    {{#if estado}}
    <a class="volver" href="/">Volver</a>
    <a href="/citas/agregar-cita">Nueva cita</a>
    {{else}}
    <a class="volver" href="/citas">volver</a>
    {{/if}}
</div>